/*Deep NHS Blue #1362b0*/
/*NHS Blue #007ac2*/

html {
  box-sizing: border-box;
  font-family: verdana, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

nav {
  display: block;
  width: 100%;
}

.nav-header {
  background: white;
  height: 107px;
  margin-bottom: 10px;
}

.nav-container {
  background: white;
  width: 970px;
  height: 60px;
  margin: 0 auto;
  padding: 15px;
}

.nhs-logo {
  display: inline-block;
}

.user-account {
  display: inline-block;
  float: right;
  line-height: 30px;
}

.user-account a {
  font-size: 14px;
}

.top-nav-links {
  background-color: #1362b0;
  height: 50px;
  width: 970px;
  margin: 0 auto;
  margin-top: -40px;
}

.top-nav-links a {
  color: white;
  line-height: 50px;
  padding: 15px;
  font-family: verdana, sans-serif;
  font-size: 12px;
  text-decoration: none;
}

.subtitle-container {
  background: #007ac2;
  height: 85px;
  width: 100%;
  margin-top: -29px;
  position: absolute;
  z-index: -1;
}

.subtitle {
  width: 970px;
  height: 90px;
  margin: 0 auto;
}

h2 {
  color: white;
  /*font-family: verdana, sans-serif;*/
  font-size: 18px;
  margin-top: 40px;
  font-weight: 300;
}

.body-content {
  display: block;
  height: 600px;
  margin-top: 70px; // pushed this down because the block above is not recognised due to the z-index
}

.carousel {
  width: 970px;
  background-color: white;
  /*border: solid 1px lightgrey;*/
  margin: 10px auto;
  height: 400px;
  text-align: center;
}

.c1, .c2, .c3, .c4 {
  background: lightgrey;
  height: 400px;
  line-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.c1 {
  background-image: url('../images/slide-1.png');
}

.c2 {
  background-image: url('../images/slide-2.png');
}

.c3 {
  background-image: url('../images/slide-3.png');

}

.c4 {
  background-image: url('../images/slide-4.png');
}

.carousel-navigation {
  width: 970px;
  margin: 0 auto;
  text-align: center;
}

.icon-block {
  text-align: center;
  width: 970px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.icons {
  background: #007ac2;
  color: white;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

/*this is for the icons*/
.info, .envelope, .circle {
  font-size: 110px;
}

footer {
  height: 250px;
  background: #007ac2;
  margin-top: 60px;
}

.footer-link-container {
  text-align: center;
  width: 970px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-link {
  /*background: lightgrey;*/
  color: white;
  font-size: 30px;
  width: 300px;
  height: 200px;
  line-height: 50px;
  text-align: left;
  margin-top: 20px
}

.footer-link p {
  font-size: 12px;
  line-height: 1;
  text-align: justify;
}

.bottom-footer-container {
  border-top: white solid 1px;
  background: #007ac2;
}

.accenture {
  width: 970px;
  margin: 0 auto;
  color: white;
  font-size: 12px;
  text-align: left;
  padding: 20px 0;
}

.accenture a {
  color: white;
}

@media only screen and (max-width: 360px) {

  /*body {
    background-color: yellow;
  }*/

  .nav-container {
    background: white;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: 0;
  }

  .nhs-logo {
    display: block;
    width: 100%;
    margin: 5px auto 0 auto;
    background: white;
    text-align: center;
  }

  .user-account {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    background: white;
    text-align: center;
    /*border: solid 2px red;*/
  }

}
